<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> UNES - Universidade </title>
    <link rel="stylesheet" href="{{url_for ('static', filename='css/estilo.css')}}">
</head>
<body background="{{url_for ('static', filename='images/fundo.png')}}">

<hr style="height:10px ;color:rgb(109, 120, 168);background-color:rgb(109, 120, 168);">

<div style="padding-bottom: 16px;">
<img style="img" src="{{url_for ('static', filename='images/logo.png')}}"><spam><a class="link" href="/">Home</a><a class="link2" href="/quemsomos">Quem Somos</a><a href="/contato" class="link3">Contato</a></spam>
</div>

<div>
    <img src="{{url_for ('static', filename='images/capa.png')}}" alt="">
</div>
<h1> Sobre a universidade</h1>
<div style="text-align: justify ; text-justify: inter-word;">
   <p> Lorem <b>ipsum dolor</b> sit amet consectetur adipisicing elit. Aliquam temporibus, quam quidem quas voluptatibus recusandae neque natus sint, eius fugit laboriosam reprehenderit numquam at deleniti explicabo ipsam. Eos, modi tempore! ! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam iste rem cumque hic perferendis, repellendus similique, possimus dolore ducimus ut consequatur? Molestiae molestias praesentium cumque dignissimos quae iusto culpa omnis! </p>
</div>
<br>
<div style="text-align: justify ; text-justify: inter-word;">
    Lorem <b>ipsum dolor</b> sit amet consectetur adipisicing elit. Assumenda consequatur earum iure voluptas velit, atque vel nihil temporibus eveniet, exercitationem sunt soluta quo obcaecati. Perferendis eaque placeat accusantium aut. Cum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ratione quidem unde error nobis necessitatibus quis, tempore officia doloremque laboriosam accusamus. Numquam, consectetur earum nobis magni debitis aspernatur reiciendis at.
</div>

<div>
    <p style="text-align:center ;"><b>Todos os direitos reservados</b></p>
</div>
    
</body>
</html>