<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Quem Somos </title>
    <link rel="stylesheet" href="{{url_for ('static', filename='css/estilo.css')}}">
</head>
<body background="{{url_for ('static', filename='images/fundo2.png')}}">

<hr style="height:10px ;color:rgb(109, 120, 168);background-color:rgb(109, 120, 168);">

<div style="padding-bottom: 16px;">
<spam><img src="{{url_for ('static', filename='images/logo.png')}}"><a class="link" href="/">Home</a><a class="link2" href="/pagina2">Quem Somos</a><a href="/pagina3" class="link3">Contato</a></spam>
</div>
<h1>Quem Somos</h1>
<div>
    Lorem <b>ipsum dolor</b> sit, amet consectetur adipisicing elit. Expedita commodi officia et odit impedit? Iste maiores odio, iusto velit labore voluptatibus quos eum saepe voluptas officia ipsum laboriosam sequi alias? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod sequi recusandae eos libero voluptates fuga, temporibus neque odio cumque, eaque tempore eius. Quae quo natus tempore, pariatur autem et accusantium.
</div>
<div>
    <h1>5 motivos para estudar</h1>
</div>
<div>
    <ol>
        <li>Material sempre atualizado</li>
        <li>Tablets em sala de aula</li>
        <li>Professores renomados</li>
        <li>Universidade bem avaliada</li>
        <li>Ótima Localização</li>
    </ol>
</div>
<hr>
<div>
    <h1>Objetivos</h1>
    <p>Lorem <b>ipsum dolor</b>, sit amet consectetur adipisicing elit. Laborum, quis placeat. Minus natus doloremque enim aperiam molestiae voluptas voluptates eveniet labore similique dolorem, repellat, ad, cumque et veritatis repudiandae expedita! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum aut vero hic quisquam illo a, quam debitis nostrum nulla possimus praesentium repudiandae porro, libero reprehenderit tenetur. Eveniet perspiciatis quibusdam tempore!</p>
</div>

<div>
    <p style="text-align:center ;"><b>Todos os direitos reservados</b></p>
</div>
    
</body>
</html>