<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Contato </title>
        <link rel="stylesheet" href="{{url_for ('static', filename='css/estilo.css')}}">
    </head>
    <body background="{{url_for ('static', filename='images/fundo2.png')}}">
    
    <hr style="height:10px ;color:rgb(109, 120, 168);background-color:rgb(109, 120, 168);">
    
    <div style="padding-bottom: 16px;">
    <spam><img src="{{url_for ('static', filename='images/logo.png')}}"><a class="link" href="/">Home</a><a class="link2" href="/quemsomos">Quem Somos</a><a href="/contato" class="link3">Contato</a></spam>
    </div>
<div>
    <h1> Entre em contato </h1>
</div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis inventore modi doloribus deleniti cum rem rerum sequi velit voluptatem, placeat assumenda enim numquam nostrum ipsa dolorem corrupti maiores culpa ea!</p>

<hr>

<form action="/envio" method="POST">
    <label for="email">Seu e-mail:</label><br>
    <input type="text" id="email" name="email"><br>
    <label for="assunto">Assunto:</label><br>
    <input type="text" id="assunto" name="assunto"><br>
    <label for="descricao">Descrição:</label><br>
    <textarea name="mensagem" id="mensagem" rows="10" cols="30"></textarea><br><br>
    <input type="submit">

</form>
{{mensagem}}
<div>
    <p style="text-align:center ;"><b>Todos os direitos reservados</b></p>
</div>

<div>
    <table class="table" border="2px">
        <thead>
            <tr>
                <th scope="col">E-MAIL</th>
                <th scope="col">ASSUNTO</th>
                <th scope="col">MENSAGEM</th>
                
            </tr>
        </thead>
        <tbody>
            {% for item in contato%}
            <tr>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>